In [87]:
import pandas as pd
import numpy as np

In [88]:
wuhan_original=pd.read_csv("../cities_datasets/wuhan-air-quality.csv")
delhi_original=pd.read_csv("../cities_datasets/delhi-air-quality.csv")
rome_original=pd.read_csv("../cities_datasets/rome-air-quality.csv")
diepkloof_original=pd.read_csv("../cities_datasets/diepkloof-air-quality.csv")

In [89]:
#data captrued untill 07/21/2020
#wuhan: January 23rd-April 8th
#delhi: March 23rd-May 31st
#rome: March 9th-May 18th
#diepkloof: March 26th-April 30th

In [90]:
#Converting the 'data' column to datatype: datetime
wuhan_original['date'] = pd.to_datetime(wuhan_original['date'])
wuhan_df=wuhan_original.loc[wuhan_original['date']>='2019-01-01',:]

#original file has extra space on column names
wuhan_df2=wuhan_df.rename(columns={' pm25': 'pm25',' pm10':'pm10',' o3':'o3',' no2':'no2',' so2':'so2',' co':'co'})

    
#found "empty" values are actully a string with a space
wuhan1=wuhan_df2.replace(to_replace=' ',value=np.nan)
wuhan_final=wuhan1.dropna()

#converting the pollutant columns from string to int
for i in range (1,len(wuhan_final.columns)):
    wuhan_final[wuhan_final.columns[i]]=wuhan_final[wuhan_final.columns[i]].astype(int)

#The max of pollutant as the AQI of that date
wuhanAQI=wuhan_final.assign(AQI=wuhan_final.max(axis=1))
wuhanAQI.sort_values(by=['date'])
wuhanAQI.to_csv("../CleanDatasets/wuhan_AQI.csv",index=False)

/Users/xiaoyuezhu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [95]:
rome_original['date'] = pd.to_datetime(rome_original['date'])
rome_df=rome_original.loc[rome_original['date']>='2019-11-01',:]
rome1=rome_df.replace(to_replace=' ',value=np.nan)
rome_final=rome1.dropna()
rome_final.to_csv("../CleanDatasets/rome_final.csv")
rome1

           date  pm25  pm10   o3  no2   so2   co
0    2020-07-02    30    18  NaN   18   NaN  NaN
1    2020-07-03    46    16  NaN    7   NaN  NaN
2    2020-07-04    46     8  NaN    4   NaN  NaN
3    2020-07-05    25    10  NaN    6   NaN  NaN
4    2020-07-06    38    14  NaN   19   NaN  NaN
...         ...   ...   ...  ...  ...   ...  ...
1282 2020-01-06   NaN   NaN  NaN   30   NaN  NaN
1283 2020-01-07   NaN   NaN  NaN   43   NaN  NaN
1284 2019-12-05   NaN   NaN  NaN   30   NaN  NaN
1285 2019-12-06   NaN   NaN  NaN   34   NaN  NaN
1290 2020-01-01   NaN   NaN  NaN  NaN   NaN  NaN

[261 rows x 7 columns]

In [92]:
rome1.count()

date     261
 pm25    241
 pm10    220
 o3        0
 no2     246
 so2       0
 co        0
dtype: int64

In [93]:
#Converting the 'data' column to datatype: datetime
delhi_original['date'] = pd.to_datetime(delhi_original['date'])
delhi_df=delhi_original.loc[delhi_original['date']>='2019-01-01',:]

#original file has extra space on column names
delhi_df2=delhi_df.rename(columns={' pm25': 'pm25',' pm10':'pm10',' o3':'o3',' no2':'no2',' so2':'so2',' co':'co'})

    
#found "empty" values are actully a string with a space
delhi1=delhi_df2.replace(to_replace=' ',value=np.nan)
delhi_final=delhi1.dropna()

#converting the pollutant columns from string to int
for i in range (1,len(delhi_final.columns)):
    delhi_final[delhi_final.columns[i]]=delhi_final[delhi_final.columns[i]].astype(int)

#The max of pollutant as the AQI of that date
delhiAQI=delhi_final.assign(AQI=delhi_final.max(axis=1))
delhiAQI.sort_values(by=['date'])
delhiAQI.to_csv("../CleanDatasets/delhi_AQI.csv",index=False)
delhiAQI.dtypes

/Users/xiaoyuezhu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

date    datetime64[ns]
pm25             int64
pm10             int64
o3               int64
no2              int64
so2              int64
co               int64
AQI              int64
dtype: object

In [94]:
#Converting the 'data' column to datatype: datetime
diepkloof_original['date'] = pd.to_datetime(diepkloof_original['date'])
diepkloof_df=diepkloof_original.loc[diepkloof_original['date']>='2019-01-01',:]

#original file has extra space on column names
diepkloof_df2=diepkloof_df.rename(columns={' pm25': 'pm25',' pm10':'pm10',' o3':'o3',' no2':'no2',' so2':'so2',' co':'co'})

    
#found "empty" values are actully a string with a space
diepkloof1=diepkloof_df2.replace(to_replace=' ',value=np.nan)
diepkloof_final=diepkloof1.dropna()

#converting the pollutant columns from string to int
for i in range (1,len(diepkloof_final.columns)):
    diepkloof_final[diepkloof_final.columns[i]]=diepkloof_final[diepkloof_final.columns[i]].astype(int)

#The max of pollutant as the AQI of that date
diepkloofAQI=diepkloof_final.assign(AQI=diepkloof_final.max(axis=1))
diepkloofAQI.sort_values(by=['date'])
diepkloofAQI.to_csv("../CleanDatasets/diepkloof_AQI.csv",index=False)

/Users/xiaoyuezhu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app